<!DOCTYPE html>
<html>
<head>
<base href="/">
<title>GoldenTicket</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="/CSS/navbar.css">
<link rel="stylesheet" href="/CSS/card.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<script defer src="/JS/indexRequest.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
	<div id="container">
		<div class="header">
			
			<h1>GTNext</h1>
			
		</div>

		<div id="megamenu">
			<!-- mega menu -->
			<div class="caselle-sinistra">
				<ul
					class="sky-mega-menu sky-mega-menu-anim-flip sky-mega-menu-response-to-icons">
						<li><a href="/"><i class="fa fa-single fa-home"></i></a></li>
					<!-- Citta' -->
					<li aria-haspopup="true"><a>Citta'<i class="fa fa-indicator fa-chevron-down"></i></a>
						
							<div class="grid-container3">
								<div class="scrollbar-area">
									<div class="scrollbar-element">
										<ul id="lCitta">
											<!-- FOR PER STAMPARE NOMI CITTA'
											<% for (String citta : c) { %>
											<li><a href="leggicitta?citta=<%=citta%>"></i><%=citta%><i
													class="fa fa-group"></i><i
													class="fa fa-indicator fa-chevron-right"></i></a>
												<div class="min">
													<ul>
														<%
														for (String zone : z.get(citta)) {
														%>
														<li aria-haspopup="true"><a
															href="leggizone?citta=<%=citta%>&zona=<%=zone%>"><%=zone%></a> <%
														 }
														 %></li>
													</ul>
												</div></li>
											<%
											}
											%>-->
										</ul>
									</div>
								</div>
							</div>
					</li>
					<!--/ about -->
					<!-- Tipologia -->
					<li aria-haspopup="true"><a href="#">Tipologia<i
							class="fa fa-indicator fa-chevron-down"></i></a>
						<div class="grid-container3">
							<ul>
								<!-- FOR PER STAMPARE NOMI TIPOLOGIA'
								<%
								for (String tipologia : t) {
								%>
								<li><a href="leggitipologia?tipologia=<%=tipologia%>"><%=tipologia%><i
										class="fa fa-group"></i><i
										class="fa fa-indicator fa-chevron-right"></i></a>
									<div class="grid-container3">
										<ul>

											<%
											for (String genere : g.get(tipologia)) {
											%>
											<li aria-haspopup="true"><a
												href="leggigenere?tipologia=<%=tipologia%>&genere=<%=genere%>"><%=genere%></a> <%
											}
											%></li>
										</ul>
									</div></li>
								<%
								}
								%>-->
							</ul>
						</div></li>
					<!--/ news -->
					<!-- eventi -->
					<li><a href="eventi">Eventi</a></li>

					<div class="navbar">
						<div class="search-container">
							<form action="ricerca" method="get">
								<input type="text" placeholder="Nome,Artista,Citta'..."
									name="search">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</div>


    

						<div class="login">
									<button type="submit">
										<i class="fas fa-shopping-cart"></i>
									</button>
								<a href="acquisti" id="" type="submit">ACQUISTI</a> 
                                <a href="login" id="" type="submit">LOGIN</a> 
							</div>
						</div>
			
      
				</ul>
			</div>
		</div>

		<div class="context" id="context">
			<!--<%
			for (Evento e : eventi) {
			%>
			<div class="card">
				<div class="img-card" >
					<img src="<%=e.getLocandina()%>">
				</div>
				
				<div class="nome-card">
					<h1>
						<%=e.getNome()%>
					</h1>
				</div>

				<div class="paragrafo-card">
					<p>
						<%=e.getLocalita().getCitta()%><br>
						<%=e.getLocalita().getZona()%><br>
						<%=e.getGiornoSettimana()%>
						<%=e.getData()%>
						alle ore
						<%=e.getOra()%>
					</p>
				</div>

				<div class="dettagli-card">
					<a href="dettagli?id=<%=e.getId()%>">DETTAGLI</a>
				</div>
			</div>
			<%
			}
			%>
        -->
		</div>

		<div class="footer">
			<div id="linguaggi">
				<h2>Tecnologie Utilizzate</h2>

				<h4>FRONT-END</h4>
				<a href="https://www.w3schools.com/html/default.asp" target="_blank">HTML</a>
				<a href="https://www.w3schools.com/cs/default.asp" target="_blank">CSS</a>
				<a href="https://www.w3schools.com/js/default.asp" target="_blank">JavaScript</a>

				<h4>BACK-END</h4>
				<a href="https://www.w3schools.com/java/default.asp" target="_blank">Java</a>
				<a href="https://www.w3schools.com/MySQL/default.asp"
					target="_blank">MySQL</a> <a href="https://spring.io/">Spring</a>

			</div>

			<div id="societa">
				<h2>La Societa'</h2>
				<li>Andrea Sbabo</li>
				<li>Michele Pasino</li>
				<li>Beatrice Sala</li>
				<li>Samuele Alessandro Di Silvestri</li>
				<li>Bryan Huarcaya</li>
			</div>

			<div id="contatti">
				<h2>Contatti</h2>
				<li>andreasbabo6@gmail.com</li>
				<li>michele.pasino@hotmail.com</li>
				<li>sala.beatrice00@gmail.com</li>
				<li>samueledisilvestri@gmail.com</li>
				<li>bryanhuarcayar@gmail.com</li>
			</div>

		</div>
	</div>
</body>
</html>