<!DOCTYPE html>
<html>

<head>
	<base href="/">
	<title>GoldenTicket</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href=".\IMG\favicon.png" rel="icon" type="image/png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="/CSS/card.css">
	<link rel="stylesheet" href="/CSS/navBar.css">
	<script src="/JS/indexRequest.js"></script>
	<script src="/JS/navBarRequest.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/JS/Nav.js"></script>

</head>

<body>
	<!--? NavBar -->
	<script>NavBar()</script>
	<!--? Contenuto -->
	<div id="context"></div>

	<!--? Bottoni Pagina -->
	<div id="button-container">
		<button onclick="prevPage()">
			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none"
				stroke="#8A878A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-chevrons-left">
				<polyline points="11 17 6 12 11 7"></polyline>
				<polyline points="18 17 13 12 18 7"></polyline>
			</svg>
		</button>
		<!-- Pulsante successivo (nextPage) -->
		<button onclick="nextPage()">
			<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none"
				stroke="#8A878A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-chevrons-right">
				<polyline points="13 17 18 12 13 7"></polyline>
				<polyline points="6 17 11 12 6 7"></polyline>
			</svg>
		</button>
	</div>
</body>

</html>