#context_carrello
{
    background: #e9e9e9;
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto; 
    width: auto;

    display: block;
}

.card_biglietto
{
    border-bottom: solid 2px #133847;
    display: flex;
}

.img_biglietto
{
    width: 20%;
}

.card_biglietto .img_biglietto img
{
    height: 100%;
    width: 100%;
}


.card_biglietto:hover
{
    transform: scale(1.03);
}


.info_biglietto
{
    width: 50%;
    padding: 2%;
}

.info_biglietto div
{
    float: left;
}

.link_biglietto
{
    display: block;
    width: 30%;
    padding: 1%;
}

.link_biglietto div
{
    padding: 2%;
    align-items: center;
}

.bottoni_biglietto
{
    padding: 2%;
}