@charset "UTF-8";

body 
{
	font-family: 'Geologica', sans-serif;
	min-height: 100vh;
	background-color: #133847;
}	
div
{
	margin-top:200px;
	left:50%;
}
form
{
	margin: auto;
	width: 50%;
	padding:20px;
	text-align:center;
	height: 280px;
	width:350px; 
	border: solid rgb(255, 217, 0) 20px;
	background-color: white;
}

h2
{
	color: black;
	align-items: center;
	padding:10px;
}

.bottone 
{
	padding:5px;
	background-color: rgb(255, 217, 0);
	color: black;
	border:solid black 2px;
	font-size:16px;
}
a
{
	text-decoration:none;
}
.bottone:visited
{
	padding:5px;
	background-color: rgb(255, 217, 0);
	color: black;
	border:solid black 2px;
}
.bottone:hover
{
	color:white;
	background-color:red;
}
.bottone #home
{
	float:left;
}
 #passwordsma
{
	 color:#0eb0e5;
	
}
 #passwordsma:hover
{
	 text-decoration: underline;
	 color:grey;
}
 #passwordsma:active
{
	
	color:#0eb0e5;
}