body {
  background-color: rgba(15, 15, 16, 0.769);
}

.containers {
  background-color: rgb(220, 175, 106);
}

button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.containers:hover {
  transform: scale(1.02);
}
button:hover svg {
  transform: scale(1.2);
}
